.table__wrapper {
    overflow: auto;
    max-width: 100%;
    background:
            linear-gradient(to right, white 30%, rgba(255,255,255,0)),
            linear-gradient(to right, rgba(255,255,255,0), white 70%) 0 100%,
            radial-gradient(farthest-side at 0% 50%, rgba(0,0,0,.2), rgba(0,0,0,0)),
            radial-gradient(farthest-side at 100% 50%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
    background-position: 0 0, 100%, 0 0, 100%;
    background-attachment: local, local, scroll, scroll;
}

th {
    background-color: #555;
    color: #fff;
    white-space: nowrap;
}

th,
td {
    text-align: left;
    padding: 0.5em 1em;
}

tr:nth-child(odd) *{
    background-color: var(--grey-light-4);
}

tr:hover *{
    background-color: var(--grey-light-3);
    cursor: pointer;
}
tr td {
    border-bottom: var(--text) 1px solid;
}

.numeric {
    text-align: right;
}

p {
    text-align: right;
    margin-top: 1em;
    font-style: italic;
}
