.accordion-panel{
    position: relative;
    display: flex;
    flex-direction: column;
}
.accordion-panel__summary {
    display: flex;
    height: 6rem;
    padding: 1rem;
    border: var(--grey-dark-3) solid 1px;
    width: 100%;
    background-color: white;
    justify-content: space-around;
    align-items: center;
}

.accordion-panel__left-image{
    width: 10%;
    background-color: inherit;
}

.accordion-panel__left-text {
    width: 50%;
    background-color: inherit;
}

.accordion-panel__right-text {
    width: 33%;
    background-color: inherit;
    text-align: right;
}

.accordion-panel__icon {
    width: 7%;
    background-color: white;
    text-align: right;
    z-index: 0;
}

.accordion-panel__checkbox{
    position: absolute;
    right: 2.9rem;
    top: 2.3rem;
    transform: scale(4);
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

/* To show the panel */
.accordion-panel__checkbox:checked ~ .accordion-panel__card {
    height: 100%;
    flex: 1;
    overflow: hidden;
}

.accordion-panel__checkbox:not(:checked) ~ .accordion-panel__card {
    height: 0;
    overflow: hidden;
}

/* Responsible to change the plus sign (+) */
.accordion-panel__checkbox:checked + .accordion-panel__summary .accordion-panel__icon .accordion-panel__icon__image {
   transform: rotate(45deg);
    transition: .2s;
}

.accordion-panel__checkbox:not(:checked) + .accordion-panel__summary .accordion-panel__icon .accordion-panel__icon__image {
    transform: rotate(0);
    transition: .2s;
}

.accordion-panel__icon:hover {
    cursor: pointer;
}

.accordion-panel__icon__image {
    width: 3rem;
    height: 3rem;
    background-color: white;
    fill: var(--text);
}

@media screen and (max-width: 570px) {
    .accordion-panel__left-text {
        padding-left: 3rem;
    }
    .accordion-panel__checkbox {
        position: absolute;
        right: 1.5rem;
        top: 1.9rem;
    }
}
