.appbar{
    display: flex;
    justify-content: space-between;
    border-bottom: var(--grey-light-3) 2px solid;
    background-color: var(--primary-light);
    align-items: stretch;
    height: 100%;
}

.app-bar__icon {
    background-color: transparent;
    text-align: center;
    margin: auto 0;
}

.app-bar__search {
    background-color: transparent;
    text-align: center;
    margin: auto 0;
}

.app-bar__user-preference {
    display: flex;
    align-items: center;
    margin-right: 5rem;
    background-color: transparent;
    text-align: center;
}
