.appbar{
    display: flex;
    height: 8rem;
    border: var(--grey-light-3) 2px solid;
    background-color: var(--primary-light);
    align-items: stretch;
}

.app-bar__icon {
    width: 10%;
    background-color: transparent;
    text-align: center;
    margin: auto 0;
}

.app-bar__search {
    flex: 0 0 80%;
    background-color: transparent;
    text-align: center;
    margin: auto 0;
}

.app-bar__user-preference {
    flex: 0 0 10%;
    background-color: pink;
    text-align: center;
    margin: auto 0;
}
