.app-search-bar{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80rem;
}

.app-search-bar__input {
    width: 90%;
    border: var(--grey-dark-3) solid 2px;
    border-radius: 100px;
    height: 3rem;
    margin-right: -3.6rem;
    padding: .75rem 2rem;
    transition: .2s;
    outline: none;
}
.app-search-bar__input:focus {
    width: 100%;
}

.app-search-bar__icon {
    height: 3rem;
    fill: var(--grey-dark-3);
    border-radius: 20px;
}
